{% comment %} {% if sc != "none" %}

<h1> You have only 1 chance to perform this exam !!! </h1>

{% else %} {% endcomment %}

<h1> {{username}}, You are performing this exam! </h1>
<form action="" method="POST">
    {% csrf_token %}
    {% for question in questions %}
    <fieldset>
        <legend><h1> {{forloop.counter}}) {{question.question_text}} </h1></legend>
        {% comment %} <legend><h1> {{question.id}} </h1></legend> {% endcomment %}

        {% for choice in question.choice_set.all %}
        
        <input type="radio" name="{{question.id}}" id="choice{{forloop.counter}}" value="{{choice.id}}" />
        <label for="choice{{forloop.counter}}">{{ choice.choice_text }}</label>

        {% endfor %}


    </fieldset>
    {% endfor %}
    <br/>
    <input type="submit" value="Submit" />
</form>

{% comment %} {% endif %} {% endcomment %}





